@model Eproject3.Models.Users

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Users</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)
    <div class="form-group">
        @Html.LabelFor(model => model.UPhone, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.UPhone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UPhone, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.HiddenFor(model => model.UPass, new { htmlAttributes = new { @class = "form-control", @type = "password" } })

    <div class="form-group">
        @Html.LabelFor(model => model.UAdress, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UAdress, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UAdress, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.AccNum, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AccNum, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AccNum, "", new { @class = "text-danger" })
        </div>
    </div>
    @Html.HiddenFor(model => model.Img, new { htmlAttributes = new { @class = "form-control" } })
    @Html.HiddenFor(model => model.UPhone, new { htmlAttributes = new { @class = "form-control" } })

    <div class="form-group">
        @Html.LabelFor(model => model.Packs.name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Packs.name, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Exp_Date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Exp_Date, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}
<a href="/Recipes/">Your recipes</a>|
<a href="/Tips/">Your Tips</a>|
<a href="/Users/ChangePwd">Change Password</a>|
<a href="/Users/ChangePhoto">Change Profile Picture</a>
@*<form action="/Users/ChangePass">
    <img src="/images/@Html.DisplayFor(model=>model.Img)" />
</form>*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
