@model Eproject3.Models.Recipes
@using Eproject3.Models;
@{   
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Users u = (Users)Session["User"];
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h2>Details</h2>

<div class="col-sm-12" id="detail-background">
    <div class="col-sm-2"></div>
    <div class="col-sm-8" id="detail-content">
        <h1><i>@Html.DisplayFor(model => model.Title)</i></h1>
        <div class="col-sm-12">
                <h3>Ingredents</h3>
                <ul>
                    @{
                        List<string> ingre = Model.ingredent.Split(',').ToList();
                        foreach (var items in ingre)
                        {
                            <li>@items</li>
                        }
                                }

                            </ul>
        </div>
        <div class="col-sm-12">
            <hr>
            <h3>How to do</h3>
            @{
                var Content_step = Model.Content.Split(',').ToList();
                var ImgList = Model.Img.Split(',').ToList();
                int i = 0;
                foreach (var image in ImgList)
                {
                    i++;
                    <p>Step @i</p>
                    <p>@Content_step.ElementAt(i - 1) <img src="~/images/@(image)" height="200" width="200" /></p>
                }
            }
                @{
                    for (int index = 0; index < 5; index++)
                    {
                        if (index < Convert.ToInt32(Model.Levels))
                        {
                            <span class="fa fa-star checked" id="rate"></span>
                        }
                        else
                        {
                            <span class="fa fa-star" id="rate"></span>
                        }

                    }
                }

       </div>
    </div>
    <div class="col-sm-2"></div>
</div>
<div>
    @if (u != null)
    {
        using (Html.BeginForm("Create", "FeedBacks", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" value="@u.id" name="Use_id" />
            <input type="hidden" value="@Model.id" name="Recipes_id" />
            <input type="text" name="Content" autocomplete="off" />
            <input type="submit" value="Comment" />
        }
    }
    else
    {
        <button type="button"><a href="~/Users/LoginView">Login for comment</a></button>
    }
    @foreach (var item in ViewBag.FeedBack)
    {
        <h3>
            @item.Users.UAdress : @item.Content
        </h3>
    }
</div>
<p>
    @{
        /*
        if (u.UAdress == Model.Users.UAdress)
        {
            Html.ActionLink("Edit", "Edit", new { id = Model.id })
        }
        Html.ActionLink("Back to List", "Index")
        */
    }

</p>