@model Eproject3.Models.Recipes
@using Eproject3.Models;
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Users u = (Users)Session["User"];
    List<string> ingre = Html.DisplayNameFor(model => model.ingredent).ToString().Split(',').ToList();
    List<string> reci = Html.DisplayNameFor(model => model.Content).ToString().Split('.').ToList();

}
<div class="col-sm-12" id="detail-background">
    <div class="col-sm-2"></div>
    <div class="col-sm-8" id="detail-content">
        <h1><i>@Html.DisplayFor(model => model.Title)</i></h1>
        <div class="col-sm-12">
            <div class="col-sm-5">
                @{
                    var Content_step = Model.Content.Split(',').ToList();
                    var ImgList = Model.Img.Split(',').ToList();
                    int i = 0;
                    foreach (var image in ImgList)
                    {
                        i++;
                        <p>Step @i</p>
                        <p>@Content_step.ElementAt(i - 1) <img src="~/images/@(image)"  /></p>
                    }
                }
            </div>
            <div class="col-sm-7">
                <h3>Ingredents</h3>
                <ul>
                    @foreach (var items in ingre)
                    {
                        <li>@items</li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-sm-12">
            <hr>
            <h3>How to do</h3>
            @foreach (var items in reci)
            {
                <li>@items</li>
            }
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
<div>
    @if (u != null)
    {
        using (Html.BeginForm("Create", "FeedBacks", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" value="@u.id" name="Use_id" />
            <input type="hidden" value="@Model.id" name="Recipes_id" />
            <input type="text" name="Content" autocomplete="off" />
            <input type="submit" value="Comment" />


        }
    }
    else
    {
        <button type="button"><a href="~/Users/LoginView">Login for comment</a></button>
    }
    @foreach (var item in ViewBag.FeedBack)
    {
        <h3>
            @item.Users.UAdress : @item.Content
        </h3>
    }
</div>
