@model Eproject3.Models.Recipes
@using Eproject3.Models;
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Users u = (Users)Session["User"];
}


<h2>Details</h2>
<div class="col-sm-12" id="detail-background">
    <div class="col-sm-2"></div>
    <div class="col-sm-8" id="detail-content">
        <h1><i>Ca Hap Bia Hoi Bi Ngon</i></h1>
        <div class="col-sm-12">
            <div class="col-sm-5">
                <img src="Image/download (1).jpg">
            </div>
            <div class="col-sm-7">
                <h3>Nguyen Lieu</h3>
                <ul>
                    <li>Hanh La</li>
                    <li>Ca 1 con</li>
                    <li>1 lit bia hoi</li>
                    <li>1 Can ot</li>
                    <li>4 cu xa</li>
                    <li>6 cu nghe</li>
                    <li>2 mo rau thia la</li>
                    <li>1 cu ca rot</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12">
            <hr>
            <h3>Huong dan Cach Lam</h3>
            <li>Đánh vẩy cá sạch sẽ, mổ bụng cá, rửa nội tạng bỏ đi phần mật cá(phần này sẽ làm cá bị tanh)</li>
            <li>Sau đó cứa cá với ba đường sâu và dài nhưng không , sát cá với muối tinh(điều này làm giảm mùi tanh của cá)</li>
            <li>v.v.v.v.v..v</li>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>

<div>
    <h4>Recipes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @{
                var Content_step = Model.Content.Split(',').ToList();
                var ImgList = Model.Img.Split(',').ToList();
                int i = 0;
                foreach (var image in ImgList)
                {
                    i++;
                    <p>Step @i</p>
                    <p>@Content_step.ElementAt(i - 1) <img src="~/images/@(image)" height="200" width="200" /></p>
                }
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.R_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ingredent)
        </dt>

        <dd>
            @{
                var Igre = Model.ingredent.Split(',').ToList();
                foreach (var ingre in Igre)
                {
                    <p>@ingre</p>
                }

            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contester.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contester.Name)
        </dd>

    </dl>
</div>
<div>
    @if(u!= null) { 
    using (Html.BeginForm("Create", "FeedBacks", FormMethod.Post))
    {
      
            <input type="hidden" value="@u.id" name="Use_id" />
        <input type="hidden" value="@Model.id" name="Recipes_id" />
        <input type="text" name="Content" />
        <input type="submit" value="Comment" />


    }
    }
    <button type="button"><a href="~/Users/LoginView">Login for comment</a></button>
    @foreach (var item in ViewBag.FeedBack)
    {
        <h3>
            @item.Users.UPhone : @item.Content
        </h3>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
