@model Eproject3.Models.Recipes

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}

<h2>Details</h2>

<div>
    <h4>Recipes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>


        

        <dd>
            @*@Html.DisplayFor(model => model.Img)*@
            
            @{
                var Content_step = Model.Content.Split(',').ToList();
                var ImgList = Model.Img.Split(',').ToList();
                int i = 0;
                foreach (var image in ImgList)
                {
                    i++;
                   <p>@Content_step.ElementAt(i-1) <img src="~/images/@(image)" height="200" width="200" /></p>
                }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.R_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_Status)
        </dd>

        <dt>
            Author
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contester.Name)
        </dd>

    </dl>
</div>
<div>
    @foreach (var item in ViewBag.FeedBack) { 
        <h3>
           @item.Users.UPhone : @item.Content
        </h3>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
