@model IEnumerable<Eproject3.Models.Recipes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
     
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Img)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.R_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contester.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var ImgList = item.Img.Split(',').ToList();
        if (Session["Pack_id"].ToString() != "3"||Session["Pack_id"].ToString() != "")
        {


        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @{

                    foreach (var i in ImgList)
                    {
                        <span> <img src="~/images/@(i)" height="200" width="200" /></span>
                    }
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.R_Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contester.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
        }
        else {
           if (item.R_Status == 0) { 
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @{

                            foreach (var i in ImgList)
                            {
                                <span> <img src="~/images/@(i)" height="200" width="200" /></span>
                            }
                        }

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.R_Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contester.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>
                </tr>
            }
         }
      }

</table>
