@model Eproject3.Models.Contest
@using Eproject3.Models
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var exams = (IEnumerable<Exams>)ViewBag.exams;
}

<div class="col-sm-12" id="detail-background">
    <div class="row">
        <div class="col-sm-2"></div>

        <div class="col-sm-8 content-detail">
            <div class="col-sm-12">
                <a style="color:red">@ViewBag.early</a>
                <a style="color:red">@ViewBag.exist</a>
                <div class="center"><h1>@Html.DisplayFor(model => model.title)</h1></div>
                <hr />
                <p><b>Description</b></p>
                <div class="col-sm-12">
                    @Html.DisplayFor(model => model.C_Description)
                </div>
                <p><b>Requirement</b></p>
                <div class="col-sm-12">
                    @Html.DisplayFor(model => model.requirement)
                </div>
                <p><b>Duration</b></p>
                <div class="col-sm-12">
                    @Html.DisplayFor(model => model.C_Time) to @Html.DisplayFor(model => model.exp_time)
                </div>
                <div class="col-sm-12">
                    <div class="center-content">
                        <img class="blog-img" src="~/images/@Html.DisplayFor(model => model.img)" />
                    </div>
                </div>
                <div class="winner">
                    @{
                        var x = @Html.DisplayFor(model => model.Contester1.Name);
                    }
                    @if (String.IsNullOrEmpty(x.ToString()))
                    {
                        <a href="/Contests/Join/@Html.DisplayFor(model => model.id)">Join this contest</a>
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.Contester1.Name)
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="col-sm-12">
    @if (exams != null)
    {
        <h1>Submissions</h1>
        foreach (var items in exams)
        {
            @*Thay link can cham diem vao day*@

            <div class="box-item relative">
                <a href="/Recipes/Details/@items.Recipes.id">
                    <div class="item">
                        <div class="blur-hover">
                            <h1>@items.Recipes.Title</h1>
                        </div>
                        <img src="~/images/@items.Recipes.Img.Split(',').First()">
                    </div>
                </a>
            </div>
        }
    }
    else
    {
        <h4>No Exams yet </h4>
    }
    </div>
</div>





