<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/HomePage.css")
    @Scripts.Render("~/bundles/modernizr")

    <script>
            function openForm(id) {
                document.getElementById(id).style.display = "block";
                document.getElementById("allContent").classList.add("blur")
            }

            function closeForm(id) {
                document.getElementById(id).style.display = "none";
                document.getElementById("allContent").classList.remove("blur")
            }


    </script>

</head>
<body>
    <div class="form-popup" id="myLoginForm">
        <form action="Login.php" class="form-container" method="POST">
            <h1>Login</h1>
            <hr>
            <label for="email"><b>Email:</b></label>
            <input type="email" placeholder="Enter Email" name="txtUserName" required>
            <label for="psw"><b>Password:</b></label>
            <input type="password" placeholder="Enter Password" name="pwdPassword" required>
            <hr>
            <button type="submit" class="btn">Login</button>
            <button type="button" class="btn cancel" onclick="closeForm('myLoginForm')">Close</button>
        </form>
    </div>
    <div class="form-popup" id="myRegisterForm">
        <form action="" class="form-container">
            <h1>Register</h1>
            <hr>
            <label for="email"><b>Email:</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>
            <label for="psw"><b>Password:</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
            <hr>
            <button type="submit" class="btn">Login</button>
            <button type="button" class="btn cancel" onclick="closeForm('myRegisterForm')">Close</button>
        </form>
    </div>


    <div id="allContent">
        <header>

            <nav>
                <div class="container nav">
                    <div class="right">
                        <div >
                            <i><a href="#" onclick="openForm()">Log In</a></i>
                            <i><a href="#">Register</a></i>
                        </div>
                    </div>
                    <div class="left">
                        <img class="logo" src="~/Image/Logo/logo.png" />
                    </div>
                    <div class="menu">
                        <ul>
                            <li>
                                @Html.ActionLink("Home", "Index", "Home")
                            </li>
                            <li>
                                @Html.ActionLink("Contact", "Contact", "Home")
                            </li>
                            <li>
                                @Html.ActionLink("Recipces", "Recipces", "Home")

                                <div class="my-dropdown-menu">
                                    <ul>
                                        <li><a href="#">Favourite</a></li>
                                        <li><a href="#">New</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                @Html.ActionLink("Tips", "Tip", "Home")

                                <div class="my-dropdown-menu">
                                    <ul>
                                        <li><a href="#">Favourite</a></li>
                                        <li><a href="#">New</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="#">Contest</a>
                            </li>
                            <li>
                                <a href="#">FAG</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>
        </header>
        <div class="container body-content">
            @RenderBody()


        </div>
        <footer class="container">
            <div class="col-sm-3">

            </div>
            <div class="col-sm-6">
                <div class="container">
                    <div class="col-sm-4">
                        <h3><b>Home</b></h3>
                        <h3><b>Contact</b></h3>
                        <h3><b>Contest</b></h3>
                        <h3><b>Recipces</b></h3>
                        <h3><b>Tips</b></h3>
                    </div>
                    <div class="col-sm-4">
                        Create by TienDD
                    </div>
                    <div class="col-sm-4">
                        Create by TienDD
                    </div>
                </div>
                <hr />
                <div class="container">
                    <div class="col-sm-4">
                        Email me:<i><b>TranHuTu@gmail.com</b></i>
                    </div>
                </div>
            <div class="col-sm-3">
               
            </div>
        </footer>

    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
