<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/HomePage.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="form-popup" id="myLoginForm">
        <form action="" class="form-container">
            <h1>Login</h1>
            <hr>
            <label for="email"><b>Email:</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>
            <label for="psw"><b>Password:</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
            <hr>
            <button type="submit" class="btn">Login</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>
    <div class="form-popup" id="myRegisterForm">
        <form action="" class="form-container">
            <h1>Register</h1>
            <hr>
            <label for="email"><b>Email:</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>
            <label for="psw"><b>Password:</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
            <hr>
            <button type="submit" class="btn">Login</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>
    <div id="allContent">
        <header>
            <div class="container header">

                <div class="right">
                    <p>
                        <i><a href="#" onclick="openForm()">Log In</a></i>
                        <i><a href="#">Register</a></i>
                    </p>
                </div>
            </div>
        </header>
        <nav>
            <div class="container nav">
                <div class="left">
                </div>
                <div class="menu">
                    <ul>
                        <li>
                           @Html.ActionLink("Home", "Index", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Contact", "Contact", "Home")
                        </li>
                        <li>
                            <a href="#">Recipce</a>
                            <div class="my-dropdown-menu">
                                <ul>
                                    <li><a href="#">Favourite</a></li>
                                    <li><a href="#">New</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#">FAG</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container body-content">
            @RenderBody()
            
            <footer class="container footer">
                <div class="footer">
                    Create by TienDD
                </div>
            </footer>
        </div>

        
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
