@model IEnumerable<Eproject3.Models.Tips>
@using Eproject3.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = (Users)Session["User"];
}

<h2>Index</h2>

<div class="col-sm-4"></div>
<div class="col-sm-4" id="detail-content">

    <div class="col-sm-12 content">
        <div class="col-sm-12">

            <div class="col-sm-2">
                <div class="user-icon">
                    <img src=".\Image\Logo\logo.png" />
                </div>

            </div>

            <div class="col-sm-7 title">
                <h2><i>Cá Hấp Bia</i></h2>
            </div>

        </div>

        <div class="col-sm-12 blog-content">
            Ban nen hap voi bia ha noi, no se tao vi ngon hon. Cat xa roi bo vao bia de giam mui tanh cua ca.
            tao huong huong ngat ngay.
            sdsds
            dsdsd
            dsdsd
            dsdsd
            dsdsd
        </div>
        <div class="blog-img">
            <img src=".\Image\download(1).jpg" />
        </div>

        <div class="col-sm-12 bar">
            <div class="col-sm-12">

                <div class="col-sm-6">
                    Like
                </div>
                <div class="col-sm-6">
                    FeedBack
                </div>
            </div>
        </div>

        <div class="col-sm-12 feedback-content">
            <div class="col-sm-2">
                <div class="user-icon-feedback">
                    <img src=".\Image\Logo\logo.png" />
                </div>

            </div>
            <div class="col-sm-9 comment">
                <strong>Đỗ Đình Tiến</strong><br />
                <i>Cá Hấp Bia</i>
            </div>
        </div>
    </div>


</div>

<div class="col-sm-4"></div>
    </div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Img)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.UPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Levels)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categories.Cate_Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var ImgList = item.Img.Split(',').ToList();

<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Content)
    </td>
    <td>
        @{

            foreach (var i in ImgList)
            {
                <span> <img src="~/images/@(i)" height="200" width="200" /></span>
            }
        }
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Users.UPhone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Levels)/5
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Categories.Cate_Name)
    </td>
    <td>
        @if (user != null)
        {
            if (user.id == item.Use_id)
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.id })
                @Html.ActionLink("Detail", "Detail", new { id = item.id })
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            }
            @Html.ActionLink("Details", "Details", new { id = item.id })
        }
        @Html.ActionLink("Details", "Details", new { id = item.id })
    </td>
</tr>
    }

</table>
